{% extends "base.html" %}
{% block title %}Editing {{ assignment["title"]}} {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/edit_assignment.css" />
{% endblock %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h2>Editing {{ assignment["title"]}}</h2><br>
        </div>

        <div class="col-md-6">
            <h2 style="text-align:center;">Rubric</h2>
        </div>
    </div>

    <div class="row">
        <form id="edit-assignment-form">
            <div class="col-md-6">
                <form id="edit-assignment-form">
                    <div class="col-md-11">
                        <input type="hidden" id="aid" value="{{ assignment["aid"] }}">
                        <input type="hidden" id="type" value="{{ assignment["type"] }}">
                        <input type="hidden" id="cid" value="{{ assignment["cid"] }}">
                        <label>Title</label>
                        <input id="title" class="form-control" type="text" value="{{ assignment["title"] }}" placeholder="Title" required>
                        <br>
                        <label>Description</label>
                        <textarea id="description" class="form-control" type="text" placeholder="Description" required>{{ assignment["description"] }}</textarea>

                        <br>
                        <label>Max score</label>
                        <input id="max-score" class="form-control" type="number" value="{{ assignment["max_score"] }}" placeholder="Max score" required>

                        {% if assignment["type"] == "Group Project" %}
                        <br>
                        <label>Max Group Size</label>
                        <input id="max-group-size" class="form-control" type="number" value="{{ assignment["max_group_size"] }}" placeholder="Max Group Size" required>
                        {% endif %}

                        <br>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </form>

        <div class="col-md-6" id="col-for-rubric-table">
        <table id="initial-table" class="table table-inverse" data-rubric='{{ assignment["rubric"]|tojson }}'>
            <thead>
                <tr>
                    <th style="width:85%;">Category</th>
                    <th style="width:15%;">Max Score</th>
                </tr>
            </thead>
            <tbody id="init-table-body">
            </tbody>
            <tfoot>
                <tr>
                    <td><input type="text" id="new-criterion-description" /></td>
                    <td><input type="text" size="3" id="new-criterion-maxpoints" /></td>
                    <td><button class="btn btn-primary" id="btn-new-criterion">Add to rubric</button></td>
                </tr>
            </tfoot>
        </table>
        </div>
    </div>
    {% if assignment.get('groups') != None %}
    <div class="row">
        <h2>Assign Groups</h2>
        <div class="col-md-3">
            <div id="group-maker-student-selector" style="max-width: 600px;"></div>
            <button class="btn btn-primary" id="btn-new-group">New group with these students</button>
            <!--<button class="btn btn-primary" id="btn-add-to-group">Add these students to a group</button>-->
        </div>
        <div class="col-md-9">
            <div id="student-groups">
                {% for group in assignment.groups %}
                {% if group["students"] | length > 0 %}
                <div class="group-student-list">
                    <h4>Group</h4>
                    <ul>
                        {% for student_id in group["students"]: %}
                        <li class="group-student-item" data-id="{{ student_id }}" data-gid="{{ group["gid"] }}">
                            <button class="group-remove-student"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                            {{ students_by_id[student_id]['Student Name'] }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script src="/static/edit_assignment.js"></script>
{% endblock %}
