{% extends "base.html" %}
{% block title %}{{ klass["name"] }}{% endblock %}
{% block content %}
<center>
    <h1>Class: {{ klass["name"] }}</h1>

    <br>

    <button class = "btn btn-info" id="singlebutton">New Class Assignment</button>
    <button class = "btn btn-info" id="groupbutton"> New Group Project</button>

    <br><br>

    <div id="singleForm" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Create Class Assignment</h2>
                </div>
                <div class="modal-body">
                    <input type = 'text' id = 'singleprojectTitle'  class = 'form-control' placeholder = 'Title' required><br><br>
                    <input type = 'text' id = 'singleprojectDescription'  class = 'form-control' placeholder = 'Description' required><br><br>
                    <input type = 'number' id = 'singleprojectMaxScore'  class = 'form-control' placeholder = 'Max Score' required><br><br>
                    <input type="hidden" id="singleprojectCid" value="{{ klass["cid"] }}">
                    <button id="singleCreateButton" class='btn btn-primary'>Create</button>
                </div>
            </div>
        </div>
    </div>
    <div id="groupForm" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Create Group Assignment</h2>
                </div>
                <div class="modal-body">
                    <input type = 'text' id = 'groupprojectTitle'  class = 'form-control' placeholder = 'Title' required><br><br>
                    <input type = 'text' id = 'groupprojectDescription'  class = 'form-control' placeholder = 'Description' required><br><br>
                    <input type = 'number' id = 'groupprojectMaxScore'  class = 'form-control' placeholder = 'Max Score' required><br><br>
                    <input type = 'number' id = 'groupprojectMaxSize'  class = 'form-control' placeholder = 'Max Group Size' required><br><br>
                    <input type="hidden" id="groupprojectCid" value="{{ klass["cid"] }}">
                    <button id="groupCreateButton" class = 'btn btn-primary '>Create</button>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <h3><u>Student Information</u></h3><br>
    <a class="btn btn-info" href="/class/{{ klass["cid"] }}/export">Export to CSV</a>
    <br><br>
    <table style="width:92%;" class="table table-inverse">
        <thead>
            <tr>
                <th>Student</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <th scope="row">{{ student["Student Name"] }}</th>
                <td>{{ student["Student Email"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3><u>Assignments</u></h3>
    {% if assignments | length > 0 %}
    <table style="width:92%;" class="table table-inverse">
        <thead>
            <tr>
                <th>Assignment Name</th>
                <th style="text-align: center;">Description</th>
                <th style="text-align: right;">Edit Assignment</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in assignments %}
            <tr>
                <th width = "500" scope="row">{{ assignment["title"] }}</th>
                <td align="center" width = "200">{{ assignment["description"] }}</td>
                <td align="right">
                    <a class = "btn btn-info" href="/assignment/{{ assignment['aid'] }}">View Assignment</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2>You have not created any assignments yet!</h2>
    {% endif %}
    {% endblock %}

    {% block scripts %}
    {{ super() }}
    <script src="/static/oneclass.js"></script>
    {% endblock %}
</center>
