@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
html, body {
    background-color: #EAEAEB;
    color: #22181C; 
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.panel > .heading-red {
    background-color: #734B5E;
    color: white;
}
#navlink{ 
    background-color: #3A1B32;
    color: #D7D4D3;
}
#totalnavbar{
    background-color: #C9044C;
}
table {
  table-layout: fixed; 
  border: 2px solid #5A0001; 

}
td, th {
  vertical-align: top;
  border-top: 1px solid #ccc;
  padding: 10px;
  width: 100px;
}
.fix {
  position: absolute;
  *position: relative; /*ie7*/
  margin-left: -100px;
  width: 100px;
}
.outer {
  position: relative;
}
.inner {
  overflow-x: scroll;
  overflow-y: visible;
  
  margin-left: 100px;
}

.student-selection-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    max-height: 300px;
}
.student-selection-list li {
    padding-left: 6px;
    border-radius: 3px;
    background-color: #cccccc;
    border-bottom: 1px solid gray;
}


.modal-dialog {
    top: 0;
    left: 0;
}
