{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/dashboard.css">
{% endblock %}
{% block content %}

<br><br><br>
<center><h1 class="head">Create New Work</h1>


<button class = "btn btn-info" id="singlebutton"> New Single Assignment </button>
<button class = "btn btn-info" id="groupbutton"> New Group Project </button>

<br><br>
<form class="form" id="f1" action = "/assigntodash" method="POST">
</form>

</center>


{% endblock %}
{% block scripts %}
{{ super() }}
<script src="/static/assignment.js"></script>
{% endblock %}
