<!DOCTYPE html>
<!-- README:
    This is the root template, whether the user is logged
    in or not. It will take a parameter, signed_out.
-->
<html>
    <head>
        <title>{% block title %}Project Manager{% endblock %}</title>
        <link rel="icon" type="image/png" href="/static/icon.png" />
        <link href="/static/vendor/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/base.css" />
        {% block head  %}{% endblock %}
    </head>
    <body>
        <nav id="totalnavbar" class="navbar navbar-default" style="background-color: #C9044C;">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" id="navlink" href="/">Project Manager</a>
            </div>
            <div id="navbar-content" class="collapse navbar-collapse">
                {% if "uid" in session %}
                <ul class="nav navbar-nav">
                    <li><a style="color:#D7D4D3;" href="/dashboard">Dashboard</a></li>
                    <li><a style="color:#D7D4D3;" href="/class">Classes</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color:#D7D4D3;" href="/logout">Logout</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
        <div class="content" id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer"></div>
	{% block scripts %}
	<script src="/static/vendor/jquery-3.2.1.min.js"></script>
    <script src="/static/vendor/bootstrap.min.js"></script>
	<script src="/static/vendor/notify.js"></script>
    <script src="/static/base.js"></script>
	{% endblock %}
    </body>
</html>
