{% extends "base.html" %}
{% block title %}Class View{% endblock %}
{% block head %} <link rel="stylesheet" href="/static/class.css">{% endblock %}
{% block content %}
<div class="container">
    <h1>My Classes</h1>

    <div>
        <button class="btn btn-default" id="btn-new-class">New Class</button>
        <br><br>
        <div id="modal-new-class" class="modal fade" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>Create Class</h1>
                    </div>
                    <div class="modal-body">
                        <h3>Information</h3>
                        <div class="input-group">
                            <span class="input-group-addon">Class Name</span>
                            <input type="text" class="form-control" id="input-new-class-name" placeholder="Computer Graphics" />
                        </div>
                        <h3>Students</h3>

                        <ol>
                            <li>
                                <p style="margin-bottom: 0;">If you haven't already, import student data
                                from a CSV spreadsheet.</p>
                                <label class="btn btn-default btn-file">
                                    <input type="file" id="btn-import-students" />Choose File
                                </label>
                            </li>
                            <li>
                                <p style="margin-top: 0.5em;">Add students in this class by name.</p>
                            </li>
                        </ol>
                        <div id="student-selection"></div>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-create-class" class="btn btn-default btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="classes">
        {% for class in classes %}
        <div class="panel panel-default" data-cid="{{ class['cid'] }}" id="panel-{{ class['cid'] }}">
            <div class="panel-heading heading-red">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#classes" href="#{{ class["cid"] }}">{{ class["name"] }}</a>
                    <button type="button" data-cid="{{ class['cid'] }}" class="btn btn-link delete-class">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </h4>
            </div>
            <div id="{{ class["cid"] }}" class="panel-collapse collapse">
                <div class="panel-body body-red">
                    <a href="/class/{{ class["cid"] }}" class="btn btn-primary">View Class</a><br>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/class.js"></script>
{% endblock %}
