{% extends "base.html" %}
{% block title %}Class View{% endblock %}
{% block content %}

<div class="container">
    <h2>My Classes</h2>

    <div class="panel-group" id="classes">
        {% for class in classes %}
        <div class="panel panel-default ">
            <div class="panel-heading heading-red">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#classes" href="#{{ class["cid"] }}">{{ class["name"] }}</a>
                </h4>
            </div>
            <div id="{{ class["cid"] }}" class="panel-collapse collapse in">
                <div class="panel-body">
                    Students: {{ class["students"] }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
