{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/dashboard.css">
{% endblock %}
{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <center><h1 class="head">Course Overview </h1></center><br>
            <div class="panel-group" id="assignments">
                {% for item in data %}
		<div class="panel panel-default">
		  <div class = "panel-heading heading-red"><center>
		    <h4 class = "panel-title">
		      <a data-toggle="collapse" data-parent="#assignment" href="#{{ item["class"]["name"] }}">{{ item["class"]["name"] }}</a>
		    </h4></center>
		  </div>
		  <div id=  "{{ item['class']['name'] }}" class="panel-collapse collapse">
		  <div class = "panel-body">
                     <h4><u>Assignments</u></h4>
                       {% for assignment in item["assignments"] %}
                       <br>
                      <p>

                            <h5>{{ assignment["title"] }}</h5>
                            Type: {{ assignment["type"] }}<br>
                            Description: {{ assignment["description"] }}<br>
                            Max score: {{ assignment["max_score"] }}<br>
                                <div>
                                    <button class="btn btn-primary" id="btn-assign">Assign</button>
                                    <br><br>
                                    <div id="modal-assign" class="modal fade" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2>Assign Project to Students</h2>
                                                </div>
                                                <div class="modal-body">

                                                    <h3>Students</h3>

                                                    <ol>
                                                            <p style="margin-bottom: 0;">Select which students you would like to assign this project to.</p>


                                                            <div id="student-selection"></div>
                                                    </ol>

                                                </div>
                                                <div class="modal-footer">
                                                    <button id="btn-create-assignment" class="btn btn-default btn-primary">Assign</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/dashboard.js"></script>
{% endblock %}
