{% extends "base.html" %}
{% block title %} {{ klass["name"] }}: Gradebook{% endblock %}
{% block content %}

<div class="outer">
    <div class="inner">
        <table class="table">
            <tr>
                <th class=fix>Student</th>
                {% for assignment in assignments %}
                <th>{{ assignment["title"] }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th class=fix scope="row">John Doe</th>
                <td>22</td>
            </tr>
            <tr>
                <th class=fix scope="row">Jake Grane</th>
                <td>22</td>
            </tr>
            <tr>
                <th class=fix scope="row">Asher Lasday</th>
                <td>22</td>
            </tr>
        </table>
    </div>
</div>

<center>
    <h4>Download Gradebook As A SpreadSheet</h4>
    <button class="btn btn-success">Download</button>
</center>

{% endblock %}
