{% extends "base.html" %}
{% block title %} {{ klass["name"] }}: Gradebook{% endblock %}
{% block content %}
<!--
    The `grades` variable is a list of dicts, where each dict is:
    {
        "aid": assignment ID,
        "sid": student ID,
        "grades": a list of numbers; each number is the grade in the
            corresponding category of the rubric (the 1st number in this
            list is the score for the 1st category of the rubric, the 2nd
            number is the score for the 2nd category in the rubric, etc.)
        "assignment": the assignment that this is a grade of. Note that
            the assignment has a property "rubric" which is the rubric for
            the assignment.
    }
    There is also the `klass`, `students`, and `assignments` variables (the latter
    two containing students/assignments only in this class)
-->
{{ grades }}
<div class="outer">
    <div class="inner">
        <table width="90%">
            <tr>
                <th style="border: 2px solid #5A0001;" class=fix>Student</th>
                {% for assignment in assignments %}
                <th style="border: 2px solid #5A0001;" >{{ assignment["title"] }}</th>
                {% endfor %}
            </tr>
            {% for student in students %}
            <tr>
                <th>{{ student["Student Name"] }}</th>
                <td>22</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<center>
    <h4>Download Gradebook As A SpreadSheet</h4>
    <button class="btn btn-success">Download</button>
</center>

{% endblock %}
