{% extends "base.html" %}
{% block title %}My Gradebook{% endblock %}
{% block content %}

<div class="outer">
    <div class="inner">
        <table class="table">
            <tr>
                <th class=fix>Student</th>
                <th>Project_1</th>
                <th>Project_1</th>
                <th>Project_1</th>
                <th>Project_1</th>
                <th>Project_1</th>
                <th>Project_1</th>
                <th>Project_1</th>
                <th>Project_1</th>
                <th>Project_1</th>
                <th>Project_1</th>
                <th>Project_1</th>
                <th>Project_1</th>
                <th>Project_1</th>

            </tr>
            <tr>
                <th class=fix scope="row">John Doe</th>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>

            </tr>
            <tr>
                <th class=fix scope="row">Jake Grane</th>
                <td>70</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
            </tr>
            <tr>
                <th class=fix scope="row">Asher Lasday</th>
                <td>02</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
                <td>23</td>
            </tr>
        </table>
    </div>
</div>

<center>
    <h4>Download Gradebook As A SpreadSheet</h4>
    <button class="btn btn-success">Download</button>
</center>

{% endblock %}
