{% extends "base.html" %}
{% block title %}My Gradebook{% endblock %}
{% block content %}
<center>
    <h1>Class: {{ klass["name"] }}</h1>

  <button class = "btn btn-info" id="singlebutton">New Single Assignment</button>
  <button class = "btn btn-info" id="groupbutton"> New Group Project </button>

  <br><br>
    <div id="singleForm" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Create Single Assignment</h2>
                </div>
                <div class="modal-body">
                    <input type = 'text' id = 'singleprojectTitle'  class = 'field' placeholder = 'Title' required><br><br>
                    <input type = 'text' id = 'singleprojectDescription'  class = 'field' placeholder = 'Description' required><br><br>
                    <input type = 'text' id = 'singleprojectMaxScore'  class = 'field' placeholder = 'Max Score' required><br><br>
                    <input type="hidden" id="singleprojectCid" value="{{ klass["cid"] }}">
                    <button id="singleCreateButton" class='field'>Create</button>
                </div>
            </div>
        </div>
    </div>
    <div id="groupForm" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Create Group Assignment</h2>
                </div>
                <div class="modal-body">
                    <input type = 'text' id = 'groupprojectTitle'  class = 'field' placeholder = 'Title' required><br><br>
                    <input type = 'text' id = 'groupprojectDescription'  class = 'field' placeholder = 'Description' required><br><br>
                    <input type = 'text' id = 'groupprojectMaxScore'  class = 'field' placeholder = 'Max Score' required><br><br>
                    <input type = 'text' id = 'groupprojectMaxSize'  class = 'field' placeholder = 'Max Group Size' required><br><br>
                    <input type="hidden" id="groupprojectCid" value="{{ klass["cid"] }}">
                    <button id="groupCreateButton" class = 'field'>Create</button>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <table style="width:92%;" class="table table-inverse">
        <thead>
            <tr>
                <th>Student</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <th scope="row">{{ student["Student Name"] }}</th>
                <td>{{ student["Student Email"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table style="width:92%;" class="table table-inverse">
        <thead>
            <tr>
                <th>Assignment Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in assignments %}
            <tr>
                <th scope="row">{{ assignment["title"] }}</th>
                <td>{{ assignment["description"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/oneclass.js"></script>
{% endblock %}
