{% extends "base.html" %}
{% block title %}My Gradebook{% endblock %}
{% block content %}
<center>
<table class="table table-inverse">
  <thead>
    <tr>
      <th>Student</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">John Doe</th>
      <td>j.d@jd.com</td>
    </tr>
    <tr>
      <th scope="row">Jane Doe</th>
      <td>dd@dd.com</td>
    </tr>
    <tr>
      <th scope="row">Jonny Doe</th>
      <td>jonnn@jn.com</td>
    </tr>
  </tbody>
</table>
</center>


{% endblock %}
