<!DOCTYPE html>
<html>
    <head>

        <title>{% block title %}Project Manager{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/base.css" />
	{% block head  %}{% endblock%}
	
	
    </head>
    <body>
        <div class="banner">
            <h3><a href="/">Project Manager</a></h3>
        </div>
        <div class="content" id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer">
            <!-- TODO: do we want a footer? -->
        </div>
    </body>
</html>
